@use 'sass:map';
@use '@/styles/variables' as *;

.text {
	font-size: map.get($font-sizes, "md");
	font-weight: 500;
	color: map.get($grays, "800");
	text-align: center;
	margin-bottom: map.get($spacings, "lg");
}

@media screen and (max-width: map.get($container-max-widths, "md")) {
	.text {
		text-align: start;
	}
}