@use 'sass:map';
@use '@/styles/variables' as *;

.text {
	font-size: map.get($font-sizes, "md");
	font-weight: 500;
	color: map.get($grays, "800");
	text-align: center;
	margin-bottom: map.get($spacings, "lg");
	&.xs {
		font-size: map.get($font-sizes, "xs");
	}
	&.sm {
		font-size: map.get($font-sizes, "sm");
	}
	&.md {
		font-size: map.get($font-sizes, "md");
	}
	&.lg {
		font-size: map.get($font-sizes, "lg");
	}
	&.xl {
		font-size: map.get($font-sizes, "xl");
	}
	&.xxl {
		font-size: map.get($font-sizes, "xxl");
	}
	&.dark {
		color: map.get($grays, "800");
	}
	&.light {
		color: map.get($grays, "500");
	}
	&.bold {
		font-weight: 700;
	}
	&.mb_xs {
		margin-bottom: map.get($spacings, "xs");
	}
	&.mb_sm {
		margin-bottom: map.get($spacings, "sm");
	}
	&.mb_md {
		margin-bottom: map.get($spacings, "md");
	}
	&.mb_lg {
		margin-bottom: map.get($spacings, "lg");
	}
	&.mb_xl {
		margin-bottom: map.get($spacings, "xl");
	}
	&.center {
		text-align: center;
	}
	&.left {
		text-align: left;
	}
	&.right {
		text-align: right;
	}
}

@media screen and (max-width: map.get($container-max-widths, "md")) {
	.text {
		text-align: start;
	}
}