@use 'sass:map';
@use '@/styles/variables' as *;

.wrapper {
  display: flex;
  width: fit-content;
  min-width: 350px;
  padding: map.get($spacings, 'md') map.get($spacings, 'sm');
  margin-right: map.get($spacings, 'md');
  background: map.get($grays, '100');
  border-radius: map.get($border-radiuses, 'md');
  .container {
    &_left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &_right {
      display: flex;
      align-items: center;
      svg {
        font-size: map.get($font-sizes, 'md');
        color: map.get($grays, '500');
      }
    }
  }
}
