@use 'sass:map';
@use '@/styles/variables' as *;
.title {
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	letter-spacing: -0.0032em;
	color: map.get($grays, "800");
	margin-bottom: 8px;
}