@use 'sass:map';
@use '@/styles/variables' as *;
.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 56px;
	height: 8px;
	.dot {
		display: inline-block;
		padding: map.get($spacings, "xxs");
		border-radius: map.get($border-radiuses, "max");
		overflow: hidden;
		background-color: map.get($grays, "400");
		transition: all 0.1s linear;
		&.active {
			padding: 4px 12px;
			background-color: map.get($greens, "200");
		}
	}
}