@use 'sass:map';
@use '@/styles/variables' as *;

.input,
.input::placeholder {
	font-style: normal;
	font-weight: 510;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.0032em;
}
.input {
	padding: 14px 12px;
	width: 360px;
	height: 52px;
	background: map.get($grays, "100");
	border-radius: 8px;
	border: none;
	transition: all 0.1s linear;
	&::placeholder {
		color: map.get($grays, "500");
	}
	&:focus {
		outline: $input-outline;
	}
}
