@use 'sass:map';
@use '@/styles/variables' as *;
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	background-image: url('/spiral.png');
	background-position: center;
	.container {
		&_top {
			width: 100%;
			height: 50vh;
			position: relative;
			overflow: hidden;
			margin: auto;
			.slider {
				top: 0;
				left: 0;
				position: absolute;
				display: flex;
				align-items: center;
				overflow: hidden;
				.slide {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100vw;
					.content {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 650px;
					}
				}
			}
		}
		&_bot {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin: auto;
		}
	}
}

@media screen and (max-width: map.get($container-max-widths, "md")) {
	.wrapper {
		padding: 32px 0;
		.container {
			&_top {
				margin: 0;
				.slider {
					.slide {
						.content {
							width: 100%;
							align-items: flex-start;
							padding: map.get($spacings, "md");
						}
					}
				}
			}
			&_bot {
				margin: 0;
			}
		}
	}
}
