@use 'sass:map';
@use '@/styles/variables' as *;

.hwWrapper {
  display: flex;
}

.section {
  width: 100%;
  padding: 32px 48px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
  border-bottom: inset;
}

.title {
  margin: 0;
  font-weight: 860;
  max-width: 519px;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 8px;
  color: map.get($grays, '800');
}

.divWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.text {
  margin-left: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.0032em;
  color: map.get($grays, '800');
}

.button {
  width: 400px;
  height: 48px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #dde3f9;
  border: 2px solid #dde3f9;
  border-radius: 16px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.0032em;
  color: #5d63ff;
}

.hwTitle {
  margin-bottom: 20px;
  margin-top: 55px;
  font-style: normal;
  font-weight: 860;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.0032em;
  color: map.get($grays, '800');
}
