@use 'sass:map';
@use '@/styles/variables' as *;

.wrapper {
	margin-bottom: map.get($spacings, "xl");
	width: 100%;
}
.stream_button {
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: map.get($spacings, "sm") map.get($spacings, "md");
	background: map.get($grays, "100");
	border-radius: map.get($border-radiuses, "md");
	border: 1px solid transparent;
	font-weight: 700;
	font-size: map.get($font-sizes, "sm");
	color: map.get($grays, "500");
	transition: all 0.1s linear;
	margin-bottom: map.get($spacings, "xxl");
	cursor: pointer;
	&:hover,
	&:active {
		border: 1px solid map.get($greens, "100");
		background: map.get($greens, "300");
		color: $white;
	}
}

@media screen and (max-width: map.get($container-max-widths, "md")){
	.wrapper{
		display: flex;
		justify-content: flex-start;
		flex-direction: column;

	}
	.stream_button{
		margin-bottom: map.get($spacings, "xxxl");;
	} 
}