@use 'sass:map';
@use '@/styles/variables' as *;

.hwWrapper {
    display: inline-flex;
    width: 100%;
   
}

.hwList {
    display: flex;
    flex-direction: row;
}

.hwItem {
    list-style: none;
    padding: 20px 44px 20px 12px;
    margin-right: 8px;
    background: map.get($grays, "100");
    border-radius: 16px;
    width: 358px;
    height: 176px;
    gap: 8px;
    position: relative;

}


.cityName {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 4px;
    letter-spacing: 0.0032em;
    color: map.get($grays, "800");

}

.phase {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    letter-spacing: -0.0024em;
    color: #959595;

}

.hwText {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.0032em;
    color: #959595;
}

.reactIcon {
    font-size: 19px;
    color: rgba(149, 149, 149, 1);
    position: absolute;
    top: 78px;
    right: 21px;
}