@use 'sass:map';
@use '@/styles/variables' as *;
.title_container {
	display: flex;
	position: relative;
	:first-child {
		margin-right: map.get($spacings, 'sm');
	}
	.imageWrap{
		top: 3px;
		color: transparent;
		position: absolute;
		left: 88px;
	}
}
.cityWrapp{
	display: flex;
	margin-bottom: 40px;
	border-bottom: inset;
}	.wrapper {
		display: flex;
		width: fit-content;
		width: 280px;
		padding: map.get($spacings, 'md') map.get($spacings, 'sm');
		margin-right: map.get($spacings, 'md');
		margin-bottom: map.get($spacings, 'lg');
		background: map.get($grays, '100');
		border-radius: map.get($border-radiuses, 'md');
		background-image: url('../../../../../public/circle.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom right 1px;
		background-size: 86px;
		:first-child{
			background-image: url('../../../../../public//wave.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: bottom right 1px;
			background-size: 86px;
		}
		.container {
			&_left {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			}
		
	}
	
}
