@use 'sass:map';
@use '@/styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: map.get($spacings, 'xxxl');
}

.publication {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: map.get($spacings, 'lg') map.get($spacings, 'lg');
  background: map.get($grays, '100');
  border-radius: 16px;
  width: 358px;
  height: 176px;
  position: relative;
}

.publicationLink {
  margin-top: map.get($spacings, 'sm');
  padding: map.get($spacings, 'xs') map.get($spacings, 'sm');
  font-weight: 500;
  font-size: map.get($font-sizes, 'sm');
  color: map.get($purples, "500");
  background: map.get($grays, '400');;
  border-radius: 100px;
}

.publicationNum {
  display: block;
  top: 134px;
  right: 53px;
  font-weight: 500;
  font-size: map.get($font-sizes, "sm");
  line-height: 24px;
  color: map.get($grays, '500');
  position: absolute;
}