@use 'sass:map';
@use '@/styles/variables' as *;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 358px;
	padding: 12px 16px;
	background: map.get($greens, "200");
	border-radius: 16px;
	border: 1px solid transparent;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: $white;
	transition: all 0.1s linear;
	margin: 0 0 32px;
	cursor: pointer;
	&:hover,
	&:active {
		border: 1px solid map.get($greens, "100");
		background: map.get($greens, "300");
	}
	&:active {
		transform: scale(0.95);
	}
}
